@media (max-width:576px) {


    #play-icon {
        top: 0px !important;
        bottom: auto !important;
        left: 1px !important;
        right: auto !important;
    }

    .copyrightlink{
        font-size: 0.2em;
    }

}

@media screen and (max-width: 576px) {
    .bar-icon {
        display: block;
        margin-right: 10px;
    }

    .nav ul {
        display: none;
    }

    #home,
    #contact,
    #service,
    #about-box {
        display: none;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;

    }

    .banner-img img {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-left: 20px;

    }

    .banner-img {
        width: 100%;
        height: 100%;
    }

    .banner-title {
        font-size: 2.5rem;
        color: white;
        line-height: 60px;
    }

    span {
        font-family: "Miama", sans-serif;
        font-size: 6rem;
        font-weight: 200;

    }

    .habit-card-container {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .habit-text-container {
        width: 80%;
    }

    .habit-card {
        margin-top: 8px;
    }

    nav ul {
        border: none;
    }

    .head-bg {
        width: 100%;
        height: 1280px;
        background-image: linear-gradient(rgba(119, 119, 119, 0.185), rgba(0, 0, 0, 0));
    }

    .btn-primary {
        background-color: rgba(230, 83, 60, 1);
        padding: 15px 30px;
        color: white;
        font-size: 1rem;
        margin-top: 30px;
        border: 2px solid rgb(230, 83, 60);
        font-weight: 600;
        border-radius: 50px;
        margin-right: 30px;
    }

    .btn-general {
        padding: 15px 30px;
        color: white;
        font-size: 1rem;
        margin-top: 30px;
        border: 2px solid rgb(255, 255, 255);
        font-weight: 600;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0);
    }

    .red-dot-card {
        background-color: rgba(63, 63, 63, 0.402);
        backdrop-filter: blur(7px);
        width: 140px;
        height: 70px;
        border-radius: 10px;
        position: absolute;
        top: 72%;
        right: 57%;
        border: 1px solid rgba(115, 115, 115, 0.418);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        gap: 15px;
    }

    .dot {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 25px;
        background-color: rgb(230, 83, 60);
    }

    .card-text {
        font-size: 1.2rem;
        color: white;
    }

    .card-des {
        font-size: .5rem;
        color: rgb(199, 199, 199);
        margin: 3px 0;
    }

    .workout-card {
        background-color: rgba(63, 63, 63, 0.402);
        backdrop-filter: blur(7px);
        width: 140px;
        height: 65px;
        border-radius: 10px;
        position: absolute;
        top: 57%;
        right: 8%;
        border: 1px solid rgba(115, 115, 115, 0.418);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        gap: 15px;
    }

    .workout-text {
        font-size: 1.2rem;
        color: white;

    }

    .workout-des {
        font-size: .5rem;
        color: rgb(199, 199, 199);
        margin: 3% 0;
    }

    .habit-text-container {
        width: px;
        margin: 0 auto;
        text-align: center;
    }

    .habit-title {
        font-size: 1.8rem;
        color: white;
    }

    .extra-mile-box {
        width: 85%;
        height: 600px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .extra-mile-img {
        display: inline-grid;
        overflow: hidden;
        width: 287px;
        height: 170px;
        padding-top: 5%;
        padding-bottom: 15%;
        padding-left: 7%;
        border-radius: 10px;
        background-repeat: no-repeat;

    }

    .extra-mile-img img {
        width: 100%;
        transform: scale(3);
        transform-origin: 200px 60px;
    }

    .mile-title {
        font-size: 2.2rem;
        color: white;

    }

    .mile-description {
        font-size: .8rem;
        color: white;
        opacity: 50%;
        margin-top: 10px;
    }

    .extra-mile-text {
        width: 100%;
        margin-left: -5px;

    }

    .cal-table {
        width: 100%;
    }

    .cal-box {
        width: 100%;
        height: 700px;

    }

    .cal-container {
        flex-direction: column;
    }

    .bmi-content {
        width: 100%;
    }

    #bcc-mobile {
        margin-left: 3px;

    }

    input,
    #male,
    #select {
        padding: 10px;
        background-color: rgba(70, 69, 69, 0.712);
        border: none;
        border-radius: 7px;
        color: rgb(158, 158, 158);
        font-size: 12px;
        font-weight: 200;
    }

    #select {
        padding: 10px;
        grid-column: span 2;
        font-size: 18px;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.466);

    }

    .bmi-text {
        margin: 0 auto;
        width: 70%;
    }

    .bmi-text h3 {
        font-size: 2rem;
        color: white;
        margin-bottom: 10px;
        margin-left: 35px;

    }

    .bmi-description {
        font-size: .8rem;
        color: white;
        font-weight: 300;
        opacity: 50%;
        margin-bottom: 30px;
        text-align: center;

    }

    .div {
        width: 100%;
        height: 400px;
    }

    .team-text-contant h3 {
        font-size: 2rem;
        color: white;
    }

    .team-bg {
        grid-template-columns: 1fr;
        height: 1850px;
    }

    .trainer-image img {
        width: 100%;
        height: auto;
        transform: scale(1.30);
        transform-origin: 120px 10px;
        filter: brightness(90%);
    }

    .trainer-image3 img {
        width: 100%;
        height: auto;
        transform: scale(1.30);
        transform-origin: 120px 10px;
        filter: brightness(90%);
    }

    .trainer-image4 img {
        width: 100%;
        height: auto;
        transform: scale(1.90);
        transform-origin: 120px 10px;
        filter: brightness(90%);
    }

    .trainer-image5 img {
        width: 100%;
        height: 95%;
        transform: scale(1.30);
        transform-origin: 120px 10px;
        filter: brightness(90%);
    }

    .footer-container {
        flex-direction: column;
        width: 80%;
    }

    .footer-element-1 {
        width: 100%;
    }

    .footer-section {
        width: 100%;
        height: 100%;
        margin-bottom: -50px;
    }

    .footer-description {
        font-size: 1rem;
    }

    .c-text {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 50px;
    }

}

/* for 14pm or later */

@media (max-width: 1125px) { 
    .banner .btn-section .btn-general {
        transform: translateX(194px) translateY(-84px);
    }
}

@media (max-width: 1024px) {
    #bmi_result {
        position: relative;
        
        color: aliceblue;
        font-weight: 400;
        font-size: 1rem;
        transform:translatex(10px) translatey(10px) !important;
        border-left: 20px solid rgba(230, 83, 60, 1);
        height: 40px;
        width: 100%;
        margin-top: 25px;   
        display: inline-block;
    
    }
}    